.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___left, .fighter-preview___right{
  height: 250px;
  max-width: 250px;
}

.fighter-preview___info {
  flex: 1;
  display: flex;
  flex-direction: column;
  width:100%;
  background: #ffdfa7;
  margin: 10px;
  border: 5px solid #ca9650;
}